<div class="row mb-6 mb-lg-8">
    <div class="col-12">
        <div class="section-heading title-style3">
            <h2 class="h4">Our Blog</h2>
        </div>
    </div>

    <div class="carousel-style3 col-12">
        <div class="latest_blog_inner owl-carousel owl-theme">

            <article class="text_blog ">
                <h5>Jan 05, 2020</h5>
                <a href="#!">
                    <h3>Female friends out shopping together</h3>
                </a>
                <p > Nemo enim enim voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
                <div class="blog_user">
                    <h4>by: <a href="#!">Admin</a> / Business</h4>
                </div>
            </article>

            <article class="image_blog">
                <a href="#!"><img alt="" src="img/shop/blog/blog01.jpg"></a>
                <div class="img_blog_text">
                    <h5>Feb 15, 2020</h5>
                    <a href="#!">
                        <h3>Couple in winter cloths in studio</h3>
                    </a>
                </div>
            </article>

            <article class="text_blog">
                <h5>March 25, 2020</h5>
                <a href="#!">
                    <h3>Couple in winter cloths in studio</h3>
                </a>
                <p > Nemo enim enim voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
                <div class="blog_user">
                    <h4>by: <a href="#!">Admin</a> / Consultant</h4>
                </div>
            </article>

            <article class="image_blog">
                <a href="#!"><img alt="" src="img/shop/blog/blog02.jpg"></a>
                <div class="img_blog_text">
                    <h5>April 28, 2020</h5>
                    <a href="#!">
                        <h3>Female friends out shopping together</h3>
                    </a>
                </div>
            </article>

        </div>
    </div>
</div>