<div class="row mb-6 mb-lg-8">

    <div class="col-12">
        <div class="section-heading title-style3">
            <h2 class="h4">Featured Products</h2>
        </div>
    </div>

    <div class="carousel-style2 col-12">
        <div class="feature-product-grid control-top owl-carousel owl-theme">

            <div class="border m-2">

                <a href="#!" class="product-block">
                    <div class="label-offer bg-red">Sale</div><img src="img/shop/product-01.jpg" alt="" />
                </a>
                <div class="product-info">
                    <a href="#!">Red Leather bag</a>
                    <p class="price m-0">
                        <span class="red line-through me-0">$600</span>
                        <span>$599</span>
                    </p>
                    <div class="product-rating display-30">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>

            </div>
            <div class="border m-2">

                <a href="#!" class="product-block"><img src="img/shop/product-02.jpg" alt="" /></a>
                <div class="product-info">
                    <a href="#!">Brown island shoes</a>
                    <p class="price m-0">
                        <span class="red line-through me-2">$500</span>
                        <span>$300</span>
                    </p>
                    <div class="product-rating display-30">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>

            </div>
            <div class="border m-2">

                <a href="#!" class="product-block">
                    <div class="label-offer bg-primary">New</div><img src="img/shop/product-03.jpg" alt="" />
                </a>
                <div class="product-info">
                    <a href="#!">Clock radio</a>
                    <p class="price m-0">
                        <span class="red line-through me-2">$200</span>
                        <span>$100</span>
                    </p>
                    <div class="product-rating display-30">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>

            </div>
            <div class="border m-2">

                <a href="#!" class="product-block">
                    <div class="label-offer bg-red">Sale</div><img src="img/shop/product-04.jpg" alt="" />
                </a>
                <div class="product-info">
                    <a href="#!">Digital SLR Camera</a>
                    <p class="price m-0">
                        <span class="red line-through me-2">$1200</span>
                        <span>$900</span>
                    </p>
                    <div class="product-rating display-30">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>

            </div>
            <div class="border m-2">

                <a href="#!" class="product-block"><img src="img/shop/product-05.jpg" alt="" /></a>
                <div class="product-info">
                    <a href="#!">Leather Top Hat</a>
                    <p class="price m-0">
                        <span class="red line-through me-2">$399</span>
                        <span>$199</span>
                    </p>
                    <div class="product-rating display-30">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>

            </div>
            <div class="border m-2">

                <a href="#!" class="product-block">
                    <div class="label-offer bg-primary">New</div><img src="img/shop/product-06.jpg" alt="" />
                </a>
                <div class="product-info">
                    <a href="#!">Headphone</a>
                    <p class="price m-0">
                        <span class="red line-through me-2">$800</span>
                        <span>$699</span>
                    </p>
                    <div class="product-rating display-30">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>

            </div>
            <div class="border m-2">

                <a href="#!" class="product-block">
                    <div class="label-offer bg-red">Sale</div><img src="img/shop/product-07.jpg" alt="" />
                </a>
                <div class="product-info">
                    <a href="#!">Jewelry box</a>
                    <p class="price m-0">
                        <span class="red line-through me-2">$199</span>
                        <span>$99</span>
                    </p>
                    <div class="product-rating display-30">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>

            </div>
            <div class="border m-2">

                <a href="#!" class="product-block"><img src="img/shop/product-08.jpg" alt="" /></a>
                <div class="product-info">
                    <a href="#!">Casual Grey Shirt</a>
                    <p class="price m-0">
                        <span class="red line-through me-2">$99</span>
                        <span>$59</span>
                    </p>
                    <div class="product-rating display-30">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>