 <div class="row mb-6 mb-lg-8">
                <div class="col-lg-8">
                    <div class="row mb-4">
                        <div class="col-lg-12">
                            <a href="#!">
                                <img src="{{ url_for('static', filename='img/shop/product-banner-03.jpg')}}" alt="...">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#!" class="d-inline-block mb-3 mb-md-4 w-100 text-center">
                                <img src="{{ url_for('static', filename='img/shop/product-banner-01.jpg')}}" alt="...">
                            </a>
                            <a href="#!" class="d-inline-block mb-3 mb-md-4 mb-lg-0 w-100 text-center">
                                <img src="{{ url_for('static', filename='img/shop/product-banner-04.jpg')}}" alt="...">
                            </a>
                        </div>
                        <div class="col-md-6 text-center mb-3 mb-md-0">
                            <div class="owl-carousel owl-theme">
                                <div>
                                    <a href="#!">
                                        <img src="{{ url_for('static', filename='img/shop/product-banner-02.jpg')}}" alt="...">
                                    </a>
                                </div>
                                <div>
                                    <a href="#!">
                                        <img src="{{ url_for('static', filename='img/shop/product-banner-07.jpg')}}" alt="...">
                                    </a>
                                </div>
                                <div>
                                    <a href="#!">
                                        <img src="{{ url_for('static', filename='img/shop/product-banner-08.jpg')}}" alt="...">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 text-center">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 mb-3 mb-md-0">
                            <a href="#!" class="mb-0 mb-md-4 d-inline-block w-100">
                                <img src="{{ url_for('static', filename='img/shop/product-banner.jpg')}}" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <a href="#!" class="d-inline-block w-100">
                                <img src="{{ url_for('static', filename='img/shop/product-banner-05.jpg')}}" alt="" />
                            </a>
                        </div>
                    </div>

                </div>
            </div>