<div class="col-lg-3">
    <div id="accordion" class="accordion-style2 mb-4">
        {% for type in types%}
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{ type.name }}</button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                <div class="card-body">
                    <ul class="list-style-5">
                        {% for category in categorys %}
                            {% if category.type == type.id%}
                                <li><a href="{{ url_for('shops',id=category.id) }}">{{ category.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="offer-banner bg-primary text-center d-none d-lg-block">
        <a href="#!"><img src="{{ url_for('static', filename='img/shop/left-panel-banner.png')}}" alt="..."></a>
    </div>
</div>