<div class="rev_slider_wrapper">
    <div class="rev_slider" id="rev_slider_5" data-version="5.4.5">
        <ul>
            <!-- slide 1 -->
            <li data-fstransition="fade" data-transition="scaledownfrombottom" data-easein="default" data-easeout="default" data-slotamount="1" data-masterspeed="1200" data-delay="8000" data-title="Interior Design">

                <!-- overlay -->
                <div class="opacity-light bg-black z-index-1"></div>

                <!-- main image -->
                <img src="img/shop/slider/slider-01.jpg" alt="..." data-bgrepeat="no-repeat" data-bgfit="cover" data-bgparallax="7" class="rev-slidebg">

                <!-- hero subtitle -->
                <div class="tp-caption small-text text-white slider-text text-uppercase font-weight-300" data-x="30" data-y="center" data-voffset="[-102,-88,-98,-128]" data-fontsize="[21,21,21,21]" data-lineheight="34" data-width="[600, 500, 400, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                            "delay":1000,
                            "speed":900,
                            "frame":"0",
                            "from":"y:150px;opacity:0;",
                            "ease":"Power3.easeOut",
                            "to":"o:1;"
                            },{
                            "delay":"wait",
                            "speed":1000,
                            "frame":"999",
                            "to":"opacity:0;","ease":"Power3.easeOut"
                        }]'>
                    <p class="white-space">Up to 50% Off on</p>
                </div>

                <!-- hero title -->
                <div class="tp-caption hero-text text-white alt-font font-weight-300 text-uppercase" data-x="30" data-y="center" data-voffset="[-28,-10,-20,-40]" data-fontsize="[72,62,52,46]" data-lineheight="[72,62,52,46]" data-width="[none, none, none, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                            "delay":1100,
                            "speed":900,
                            "frame":"0",
                            "from":"y:150px;opacity:0;",
                            "ease":"Power3.easeOut",
                            "to":"o:1;"
                            },{
                            "delay":"wait",
                            "speed":1000,
                            "frame":"999",
                            "to":"opacity:0;","ease":"Power3.easeOut"
                        }]' data-splitout="none">Women fashion
                </div>

                <!-- button -->
                <div class="tp-caption" data-x="30" data-y="center" data-voffset="[64,100,85,94]" data-lineheight="55" data-hoffset="0" data-frames='[{
                                "delay":1200,
                                "speed":900,
                                "frame":"0",
                                "from":"y:150px;opacity:0;",
                                "ease":"Power3.easeOut",
                                "to":"o:1;"
                                },{
                                "delay":"wait",
                                "speed":1000,
                                "frame":"999",
                                "to":"opacity:0;","ease":"Power3.easeOut"
                            }]'><a href='#!' class='btn-style2 white'><span>Shop Now</span></a>
                </div>

            </li>
            <!-- end slide 1 -->

            <!-- slide 2 -->
            <li data-transition="scaledownfrombottom" data-easein="default" data-easeout="default" data-slotamount="1" data-masterspeed="1200" data-delay="8000" data-title="Magic to Home">

                <!-- overlay -->
                <div class="opacity-extra-medium bg-extra-dark-gray z-index-1"></div>

                <!-- main image -->
                <img src="img/shop/slider/slider-03.jpg" alt="..." data-bgrepeat="no-repeat" data-bgfit="cover" data-bgparallax="7" class="rev-slidebg">

                <!-- hero subtitle -->
                <div class="tp-caption small-text text-white slider-text text-uppercase font-weight-300" data-x="30" data-y="center" data-voffset="[-102,-88,-98,-128]" data-fontsize="[21,21,21,21]" data-lineheight="34" data-width="[600, 500, 400, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
          "delay":1000,
          "speed":900,
          "frame":"0",
          "from":"y:150px;opacity:0;",
          "ease":"Power3.easeOut",
          "to":"o:1;"
          },{
          "delay":"wait",
          "speed":1000,
          "frame":"999",
          "to":"opacity:0;","ease":"Power3.easeOut"
        }]'>
            <p class="white-space">Up to 50% Off on</p>
                </div>

                <!-- hero title -->
                <div class="tp-caption hero-text text-white alt-font font-weight-300 text-uppercase" data-x="30" data-y="center" data-voffset="[-28,-10,-20,-40]" data-fontsize="[72,62,52,46]" data-lineheight="[72,62,52,46]" data-width="[none, none, none, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
          "delay":1100,
          "speed":900,
          "frame":"0",
          "from":"y:150px;opacity:0;",
          "ease":"Power3.easeOut",
          "to":"o:1;"
          },{
          "delay":"wait",
          "speed":1000,
          "frame":"999",
          "to":"opacity:0;","ease":"Power3.easeOut"
        }]' data-splitout="none">Men fashion
                </div>

                <!-- button -->
                <div class="tp-caption" data-x="30" data-y="center" data-voffset="[64,100,85,94]" data-lineheight="55" data-hoffset="0" data-frames='[{
            "delay":1200,
            "speed":900,
            "frame":"0",
            "from":"y:150px;opacity:0;",
            "ease":"Power3.easeOut",
            "to":"o:1;"
            },{
            "delay":"wait",
            "speed":1000,
            "frame":"999",
            "to":"opacity:0;","ease":"Power3.easeOut"
          }]'><a href='#!' class='btn-style2 white'>Shop Now</a>
                </div>

            </li>
            <!-- end slide 2 -->
        </ul>
    </div>
</div>