{% extends 'based.html' %}
{% block body %}

    <!-- SERVICES DETAILS
        ================================================== -->
        <section>
            <div class="container">
                <div class="row">

                    <!-- left side section -->
                    {% include 'user/sections/leftSide.html' %}
                    <!-- end left side section -->

                    <!-- right side section -->
                    <div class="col-lg-8 order-1 order-lg-2 mb-1-9 mb-lg-0">
                        <div class="services-single-right">
                            <h4 class="mb-4 h3">Financial Planning</h4>
                            <div class="mb-1-9 mb-lg-2-3"><img src="img/content/services/service-single.jpg" class="border-radius-5 box-shadow-primary" alt="..."></div>
                            <p class="w-95 mb-4">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.</p>
                            <div class="row">
                                <div class="col-12">
                                    <div class="inner-title">
                                        <h6>Business Strategies</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-1-9 mb-lg-2-7">
                                    <div class="feature-flex-square">
                                        <div class="clearfix">
                                            <div class="feature-flex-square-icon">
                                                <i class="ti-layers-alt"></i>
                                            </div>
                                            <div class="feature-flex-square-content">
                                                <h4><a href="#!">Investment Bank</a></h4>
                                                <p>Our Mission is to deliver true results for your impressive international Businesses consultant.</p>
                                                <a href="#!" class="feature-flex-square-content-button">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-1-9 mb-lg-2-7">
                                    <div class="feature-flex-square">
                                        <div class="clearfix">
                                            <div class="feature-flex-square-icon">
                                                <i class="ti-settings"></i>
                                            </div>
                                            <div class="feature-flex-square-content">
                                                <h4><a href="#!">Finance Analysis</a></h4>
                                                <p>Our Mission is to deliver true results for your impressive international Businesses consultant.</p>
                                                <a href="#!" class="feature-flex-square-content-button">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="inner-title">
                                        <h6>Key Benefits</h6>
                                    </div>
                                    <div id="accordion" class="accordion-style">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        How can i purchase this item ?
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    Tempora incidunt ut labore et dolore exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        why unique and creative design ?
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    Neque porro quisquam est quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingThree">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        are you ready to buy this theme ?
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- end right side section -->

                </div>
            </div>
        </section>

{% endblock %}