<!-- left side section -->
<div class="col-lg-4 pe-xl-6 order-2 order-lg-1">

    <!-- services -->
    <div class="services-single-left-box">
        <h2 class="text-uppercase left-title mb-3 h4">All Services</h2>
        <div class="services-single-menu bg-light mb-1-9">
            <ul class="mb-0 ps-0 list-unstyled">
                <li class="active"><a href="#!">Financial Planning</a></li>
                <li><a href="personal-insurance.html">Personal Insurance</a></li>
                <li><a href="business-analysis.html">Business Analysis</a></li>
                <li><a href="market-research.html">Market Research</a></li>
                <li><a href="online-consulting.html">Online Consulting</a></li>
                <li><a href="investment-planning.html">Investment Planning</a></li>
            </ul>
        </div>
    </div>
    <!-- end services -->

    <!-- testimonial -->
    <div class="bg-light p-4 border-radius-5 mb-1-9">
        <div class="testimonial-style6 owl-carousel owl-theme">
            <div class="testmonial-single mx-auto w-95 w-lg-85">
                <p >Exercitation ullamco laboris nisiut aliqu exeaea commo. Duisltrtohg aute irure.</p>
                <img src="img/testmonials/t-1.jpg" class="rounded-circle" alt="...">
                <div class="d-block vertical-align-middle text-center">
                    <h4>Alivin Corondo</h4>
                    <h6>Networking Lead</h6>
                </div>
            </div>
            <div class="testmonial-single mx-auto w-95 w-lg-85">
                <p >Exercitation ullamco laboris nisiut aliqu exeaea commo. Duisltrtohg aute irure.</p>
                <img src="img/testmonials/t-2.jpg" class="rounded-circle" alt="...">
                <div class="d-block vertical-align-middle text-center">
                    <h4>Stepha Kruse</h4>
                    <h6>Design Lead</h6>
                </div>
            </div>
            <div class="testmonial-single mx-auto w-95 w-lg-85">
                <p >Exercitation ullamco laboris nisiut aliqu exeaea commo. Duisltrtohg aute irure.</p>
                <img src="img/testmonials/t-3.jpg" class="rounded-circle" alt="...">
                <div class="d-block vertical-align-middle text-center">
                    <h4>Dunican keithly</h4>
                    <h6>Networking Lead</h6>
                </div>
            </div>
        </div>
    </div>
    <!-- start testimonial -->

    <!-- help -->
    <div class="bg-img cover-background theme-overlay border-radius-5 mb-1-9" data-overlay-dark="8" data-background="img/bg/bg2.jpg">
        <div class="position-relative z-index-9 text-center px-1-9 py-1-9 py-lg-6">
            <i class="fas fa-headset display-20 dispaly-md-16 display-lg-10 text-white mb-3"></i>
            <h5 class="text-white font-weight-600 mb-1 h4">How can we help?</h5>
            <p class="text-white font-weight-500 display-30">Let’s get in touch!!</p>
            <div class="bg-white separator-line-horrizontal-full opacity3 mb-3"></div>
            <ul class="text-center p-0 m-0 list-unstyled">
                <li class="text-white mb-1"><i class="fa fa-phone text-white me-2"></i><a href="tel:123456789" class="text-white">(+44) 123 456 789</a></li>
                <li class="text-white"><i class="fa fa-envelope-open text-white me-2"></i><a href="mailto:mail@example.com" class="text-white">mail@example.com</a></li>
            </ul>
        </div>
    </div>
    <!-- end help -->

    <!-- download -->
    <h6 class="font-weight-700 text-uppercase left-title mb-3">Downloads</h6>
    <ul class="downloads mb-0 ps-0 list-unstyled">
        <li class="mb-2 display-30"><a href="img/content/profile.pdf"><i class="far fa-file-pdf display-23"></i><span class="label font-weight-600">Company Profile</span></a></li>
        <li ><a href="img/content/profile.pdf"><i class="far fa-file-pdf display-23"></i><span class="label font-weight-600">Our Case Study</span></a></li>
    </ul>
    <!-- end download -->

</div>
<!-- end left side section -->