{% extends 'based.html'%}

{% block body %}

    <!-- REVOLUTION SLIDER
    ================================================== -->
    {% include 'sections/slider.html'%}


    <div class="container mt-6 mt-lg-8">

        <!-- OFFER
        ================================================== -->
        {% include 'sections/offer.html' %}

        <!-- SPECIAL OFFER
        ================================================== -->
        {% include 'sections/specialOffer.html'%}

        <!-- FEATURED PRODUCT
        ================================================== -->
        

        <!-- BLOG
        ================================================== -->
        

    </div>

    <!-- CLIENTS
    ================================================== -->

{% endblock %}